body{
    background-image:url('https://images.pexels.com/photos/16947903/pexels-photo-16947903/free-photo-of-laguna-congelada-nevado-vallunaraju.jpeg');
    background-size:cover /*，背景圖片會被自動調整大小以填滿整個元素的背景區域，同時保持圖片的原始比例。*/
}
.title{
    color:#1C1C1C; /*顏色*/
    font-size:36px; /*字36px大*/
    font-weight:bold; /*粗體*/
    text-align:center; /*字置中*/
}
.numbers{
    width:720px; /*區塊寬度*/
    margin:0px auto; /*將區塊水平置中*/ /*前面的0px是上下外邊距為0，後面auto代表左右外邊距自動調整*/
    text-align:center; /*文字置中*/
    padding-left:10px; /*區塊往左多10px*/
    padding-right:10px; /*區塊往右多10px*/
    background-color:blanchedalmond;
    
}

.li_title{
    font-size:24px; 
    font-weight:bold;
    color:#303030;
    margin-top:10px; /*外邊距上方多10px*/
}
.text{
    font-size:18px;
    margin-top:5px;
    margin-bottom:5px; /*外邊距下方多10px*/
    padding-left:30px;
    padding-right:30px;
    background-color:#FFEFD5;
}
